<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<footer class="text-center py-3 text-muted2" style="flex-shrink: 0;">
  <p class="mb-0">© Copyright 2025 Destiny TimeLine Her Hakkı Saklıdır.</p>
</footer>

</body>
</html>
